@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #;
  --secondary: #;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #ddbea9;
  /* background-image: url('../../public/bg.jpg');
  background-size: cover; */
  /* background-repeat: no-repeat; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.timer-char {
  width: 8rem;
  flex: 1;
  justify-content: center;
  font-size: 2rem;
}

@media (max-width: 600px) {
  .timer-char {
    font-size: 1rem;
  }
}

.title {
  font-size: 4rem;
  font-weight: bold;
}

.my-6 {
    color: #ddbea9;
}
.control-panel {
    font-size: 3rem;
    color: #ddbea9;
}

.control-panel .controls-container .control-item {
    display: flex; /* This makes the child elements line up horizontally */
    justify-content: space-between; /* This separates the control name and button */
    align-items: center; /* This vertically centers the control name and button */
    width: 100%; /* Adjust as necessary to control the width of the line */
    margin-bottom: 10px; /* Adds a little space between each control line */
}

.control-panel .control-name {
    margin-right: 10px; /* Adds a little space between the control name and the button */
}
