@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #;
  --secondary: #;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #ddbea9;
  /* background-image: url('../../public/bg.jpg');
  background-size: cover; */
  /* background-repeat: no-repeat; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.timer-char {
  width: 8rem;
  flex: 1;
  justify-content: center;
  font-size: 2rem;
}

@media (max-width: 600px) {
  .timer-char {
    font-size: 1rem;
  }
}

.title {
  font-size: 4rem;
  font-weight: bold;
}

.my-6 {
  color: #ddbea9;
}
.control-panel {
  font-size: 3rem;
  color: #ddbea9;
}

.control-panel .controls-container .control-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.control-panel .control-name {
  margin-right: 10px; /* Adds a little space between the control name and the button */
}

.key-icon.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 10rem;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 2rem;
  cursor: pointer;
}

.key-icon.button:hover {
  background-color: #e0e0e0;
  border-color: #aaa;
}

@media (max-width: 768px) {
  .control-panel {
    font-size: 2rem;
  }

  .title,
  .timer-char {
    font-size: 1.5rem;
  }

  .key-icon.button {
    width: 20rem;
    height: 7rem;
  }
}

@media (max-width: 480px) {
  .control-panel {
    font-size: 1.5rem;
  }

  .title,
  .timer-char {
    font-size: 1rem;
  }

  .key-icon.button {
    width: 15rem;
    height: 5rem;
  }
}

.setting {
  color: #ddbea9;
  font-size: 5rem;
}
